.DS_Store
alacritty/.config/alacritty/themes/*
karabiner/.config/karabiner/automatic_backups
zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions
zsh/.config/zsh/zcompdump*
zsh/.config/zsh/local
